{% extends "main/base.html" %}

{% load static %}

{% block info %}

    <p class="big-text">
        «1С» — российская компания, основанная в 1991 году и занимающаяся разработкой, изданием и поддержкой
        компьютерных программ, баз данных делового и домашнего назначения, а также компьютерных игр. Организационно-правовая форма:
        общество с ограниченной ответственностью
        Программисты 1С занимаются внедрением и сопровождением программ 1С в организациях: устанавливают и настраивают, дорабатывают
        и обновляют их, а ещё консультируют пользователей.
    </p>
    <div class="slider-container">
        <div class="slider">
            <img src='{% static "deps/1c3prog.jpg" %}' alt="комп-прог">
            <img src='{% static "deps/1c2prog.jpg" %}' alt="планшет прогер">
            <img src='{% static "deps/1c1prog.png" %}' alt="офис прогер">
        </div>
        <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
        <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
    </div>
    <h1 class="title-text">Что такое программы «1С:Предприятие» и где они используются</h1>
    <p>
        На каждом предприятии, большом и малом, ведётся учёт. Считают всё: сколько продукции было выпущено, сколько материалов
        было на это потрачено, какую зарплату выдали сотрудникам, какие налоги заплатили и многое другое.

        Так или иначе, но считают все компании. Где-то учёт ведут от руки в блокноте, где-то используют Excel,
        а где-то — системы автоматизированного учёта, которые ускоряют и упрощают процесс.
        Ни одно более или менее крупное предприятие не может обойтись без таких систем.

        Самые популярные системы учёта в России и СНГ — это продукты компании «1С».
        Их применяют 1,5 миллиона компаний. У «1С» есть решения для организаций любых масштабов и направлений работы:
        огромных холдингов и ИП, оптовых складов и розничных магазинов, бюджетных организаций и госструктур, управляющих компаний,
        сельхозпредприятий и других. С их помощью, например, можно считать зарплату сотрудников, контролировать
        расчёты с подрядчиками и клиентами, вести документооборот, сводить бухгалтерский баланс, формировать отчёты и делать многое другое.
    </p>
    <h1 class="title-text">Как устроена программа «1С:Предприятие» и зачем ей программисты</h1>
    <p>
        Любая программа «1С:Предприятие» состоит из двух частей — технологической платформы и установленного на ней прикладного решения (конфигурации).
    </p>

    <p><strong>Платформа</strong> — это база, на которой создают,
    запускают и изменяют конфигурации. Это среда разработки с собственным встроенным языком 1С.
    </p>

    <p><strong>Конфигурация</strong> — разработанная на языке 1С программа
        для пользователей. У неё удобный интерфейс, полезная функциональность
        и возможности для настройки. Конфигурация не существует отдельно от платформы. На одной платформе может быть
        установлено сразу несколько конфигураций.
    </p>
    <span>Конфигурации бывают типовыми и нетиповыми</span>
    <p>
        <strong>Типовые конфигурации</strong> — это конфигурации, разработанные самой компанией
        «1С». Она их поддерживает и регулярно выпускает новые версии. Налоговое законодательство постоянно меняется,
        появляются новые формы отчётности, поэтому программу нужно часто обновлять.
    </p>

{% endblock %}